.all_category_filter select,
.all_items_filter select,
.filter_right select {
  padding: 8px 25px;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: none;
  background: #343444;
}

@media (max-width: 768px) {
  .all_category_filter select,
  .all_items_filter select,
  .filter_right select {
    padding: 10px 20px;
    font-size: 0.7rem;
  }
}
