.step_title{
  margin-top: 150px;
  color: #fff;
}

.single_step_item{
  background: #343444;
  border-radius: 5px;
  padding: 30px;
}

.step_item_content h5 a{
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}

.single_step_item span i{
  color: #fff;
  padding: 15px;
  font-size: 1.5rem;
  background: #5142fc;
  border-radius: 5px;

}

.step_item_content{
  margin-top: 20px !important;
}

@media (max-width: 992px) {
  .step_item_content h5 a{
    font-size: 1rem;
  }

  .single_step_item p {
    font-size: 0.8rem;
    line-height: 25px;
  
}